.canvas {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
}

#gameView {
    display: none;
}

#listView {
}

body {
  background-color: #dee5d9;
  text-align: center;
  margin:auto;
}

#header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #3b2c46;
  padding: 0.5%;
  text-align: left;
}

#query {
  font-size: x-large;
  width: 50%;
  padding: 1%;
  border: 0;
  border-radius: 20px;
  background-color: #dee5d9;
  outline: none;
}

#query:focus {
  background-color: #fbeea5;
}

.midContainer {
  background-color: #493657;
  width: 70%;
  padding: 10px;
  padding-bottom: 50px;
  padding-top: 40px;
  margin:auto;
  margin-top: 80px;
}

.search-match {
  background-color: #0068b2;
}

.el {
  display: block;
  width: 80%;
  border-bottom: 1px solid #ffe035;
  padding: 10px;
}

.elFocus {
  color: #e2c730;
  background-color: #422557;
  border-left: 1px solid #ffe035;
  border-right: 1px solid #ffe035;
  border-top: 1px solid #ffe035;
}

.elFocusFirst {
  
}


.vote {
  float:left;
}

.vote-up {
  display: block;
  width: 0; 
  height: 0; 
  border-style: solid;
  border-width: 0 20px 15px 20px;
  border-color: transparent transparent #dee5d9 transparent;
}

.vote-up:hover {
  border-bottom-color: #e2c730;
}

.vote-count {
  display: block;
  font-size: x-large;
  color:#dee5d9;
}

.vote-down {
  display: block;
  width: 0; 
  height: 0; 
  border-style: solid;
  border-width: 15px 20px 0 20px;
  border-color: #dee5d9 transparent transparent transparent;
}

.vote-down:hover {
  border-top-color: #e2c730;
}


.elLink {
  font-size: xx-large;
  font-family: Century Gothic, sans-serif;
  outline: none;
}

.elLink:link, .elLink:visited {
  text-decoration:none;
  color:#dee5d9;
}

.elLink:hover {
  color: #e2c730;
}

.elLinkName {
  display: block;
}

.elLinkPath {
  display: block;
  font-size: small;
  color:#cbb645;
}

#displayHelpOverlay {
    display:none;
    z-index:100;
    position:absolute;
    top:0; left:0;
    width:100%;
    height:100%;
    text-align: center;
    vertical-align:middle;
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-align: center;
    overflow: scroll;
}

#displayHelpOverlay table {
    background-color: rgba(0,0,0,0.9);
    font-size: xx-large;
    text-align: left;
    border-collapse:collapse;
}

#displayHelpOverlay table th {
    font-weight: normal;
    border-bottom: 2px solid #808080;
    padding: 5px 20px 5px 20px;
    color: #ffad73;
}

#displayHelpOverlay table td {
    border-bottom: 1px solid #808080;
    padding: 5px 20px 5px 20px;
}

#displayHelpOverlay table .idCell {
}

#displayHelpOverlay table .keyCell {
    color: #ffec83;
}

#displayHelpOverlay table .descriptionCell {
    font-size: x-large;
}

#displayHelpOverlay table .currentCell {
    font-size: x-large;
    color: #aeaeae;
}