.searchbar {
    height: 66px;
}

.searchbar .searchbar-input {
    height: 42px;
}

.searchbar input[type="search"] {
    font-size: 21px;
    background-color: black;
    color: white;
}

.canvas {
    width:100%;
    height: 100%;
    background-color: black;
}

.canvasInfo {
    position:absolute;
    top:0;
    left:0;
    color:white;
    font-size:xx-large;
    text-align:left;
}

.song-list-el-focus {
    background-color: black;
}

.vote-up {
  display: block;
  width: 0; 
  height: 0; 
  border-style: solid;
  border-width: 0 20px 15px 20px;
  border-color: transparent transparent #8e8e93 transparent;
}

.vote-up:hover {
  border-bottom-color: #007aff;
}

.vote-count {
  display: block;
  font-size: x-large;
  color: white;
}

.vote-down {
  display: block;
  width: 0; 
  height: 0; 
  border-style: solid;
  border-width: 15px 20px 0 20px;
  border-color: #8e8e93 transparent transparent transparent;
}

.vote-down:hover {
  border-top-color: #007aff;
}

#displayHelpOverlay {
    display:none;
    z-index:100;
    position:absolute;
    top:0; left:0;
    width:100%;
    height:100%;
    text-align: center;
    vertical-align:middle;
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-align: center;
    overflow: scroll;
}

#displayHelpOverlay table {
    background-color: rgba(0,0,0,0.9);
    font-size: xx-large;
    text-align: left;
    border-collapse:collapse;
}

#displayHelpOverlay table th {
    font-weight: normal;
    border-bottom: 2px solid #808080;
    padding: 5px 20px 5px 20px;
    color: #ffad73;
}

#displayHelpOverlay table td {
    border-bottom: 1px solid #808080;
    padding: 5px 20px 5px 20px;
}

#displayHelpOverlay table .idCell {
}

#displayHelpOverlay table .keyCell {
    color: #ffec83;
}

#displayHelpOverlay table .descriptionCell {
    font-size: x-large;
}

#displayHelpOverlay table .currentCell {
    font-size: x-large;
    color: #aeaeae;
}