body {
  background-color: #dee5d9;
  text-align: center;
  margin:auto;
}

.midContainer {
  background-color: #493657;
  width: 70%;
  padding: 10px;
  margin:auto;
}

.search-match {
  background-color: #0068b2;
}

.query {
  font-size: xx-large;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px;
  border: 0;
  border-radius: 20px;
  background-color: #dee5d9;
  outline: none;
}

.query:focus {
  background-color: #fbeea5;
}

.gameParams {
  color: #cbb645;
  background-color: #493657;
  font-size: medium;
  margin: 10px;
  padding: 10px;
  border: 0px solid #a78d00;
  width: 80%;
  outline: none;
}

.el {
  display: block;
  width: 80%;
  border-bottom: 1px solid white;
  padding: 10px;
  font-size: xx-large;
  font-family: Century Gothic, sans-serif;
}

.el:link, .el:visited {
  text-decoration:none;
  color:#dee5d9;
}

.el:hover {
  color: #ffe035;
  border-color: #ffe035;
}

.elName {
  display: block;
}

.elPath {
  display: block;
  font-size: small;
  color:#cbb645;
}
