body {
  background-color: #dee5d9;
  text-align: center;
  margin:auto;
}

#header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #3b2c46;
  padding: 0.5%;
  text-align: left;
}

#query {
  font-size: x-large;
  width: 50%;
  padding: 1%;
  border: 0;
  border-radius: 20px;
  background-color: #dee5d9;
  outline: none;
}

#query:focus {
  background-color: #fbeea5;
}

.gameParams {
  color: #cbb645;
  background-color: #493657;
  font-size: medium;
  padding: 1%;
  margin-left: 1%;
  border: 0px solid #a78d00;
  width: 43%;
  outline: none;
}

.midContainer {
  background-color: #493657;
  width: 70%;
  padding: 10px;
  padding-bottom: 50px;
  padding-top: 40px;
  margin:auto;
  margin-top: 80px;
}

.search-match {
  background-color: #0068b2;
}

.el {
  display: block;
  width: 80%;
  border-bottom: 1px solid #ffe035;
  padding: 10px;
  font-size: xx-large;
  font-family: Century Gothic, sans-serif;
  outline: none;
}

.el:link, .el:visited {
  text-decoration:none;
  color:#dee5d9;
}

.el:hover {
  color: #e2c730;
}

.elFocus {
  color: #e2c730;
  background-color: #422557;
  border-left: 1px solid #ffe035;
  border-right: 1px solid #ffe035;
}

.elFocusFirst {
  border-top: 1px solid #ffe035;
}

.elName {
  display: block;
}

.elPath {
  display: block;
  font-size: small;
  color:#cbb645;
}
